.alumni-members-list {
	display: flex;
	width: 92%;
	max-width: 62rem;
	margin: auto;
	flex-wrap: wrap;
	justify-content: center;
	border-radius: 30px;
	padding-top: 25px;
	overflow: hidden;
	height: 51rem;
	backdrop-filter: blur(6px);
	padding-bottom: 65px;
	padding-top: 50px;
}

.alumni-members-list::-webkit-scrollbar{
	width: 0px;
}
